<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527533485147-l6nc6p3lb03o9cdmr3rb8281qqpikt13.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527533485147-l6nc6p3lb03o9cdmr3rb8281qqpikt13</string>
	<key>API_KEY</key>
	<string>AIzaSyB_-72HZwSAitIJKP_Kdarn753JVr-RzH4</string>
	<key>GCM_SENDER_ID</key>
	<string>527533485147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.a199FlutterExpertProject</string>
	<key>PROJECT_ID</key>
	<string>dicodingfinalproject</string>
	<key>STORAGE_BUCKET</key>
	<string>dicodingfinalproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527533485147:ios:e95f30e2be6d3a7151637e</string>
</dict>
</plist>